@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn {
      @apply transform transition inline-block px-8 py-2 rounded-lg focus:outline-none focus:ring focus:ring-offset-2
      uppercase tracking-wider font-semibold text-sm sm:text-base duration-500 ease-in-out hover:scale-105
  }
  .btn-primary1 {
      @apply bg-yellow-900 hover:bg-green-800
      focus:ring-green-200 focus:ring-opacity-50 
      active:bg-green-700 text-green-100 hover:-translate-y-1 border border-neutral-100;
  }
  .btn-primary2 {
      @apply bg-neutral-800 hover:bg-neutral-600
      focus:ring-neutral-800 focus:ring-opacity-50 
      active:bg-neutral-500 text-neutral-100 hover:-translate-y-1 border border-neutral-100;
  }
  .btn-primary3 {
      @apply bg-indigo-700 hover:bg-indigo-500
      focus:ring-indigo-600 focus:ring-opacity-50 
      active:bg-indigo-400 text-indigo-100 hover:-translate-y-1 border border-neutral-100;
  }
  .btn-primary4 {
      @apply bg-teal-900 hover:bg-teal-700
      focus:ring-teal-600 focus:ring-opacity-20 
      active:bg-teal-600 text-neutral-100 hover:-translate-y-1 border border-neutral-200 hover:text-neutral-900;
  }
  .btn-secondary {
      @apply bg-neutral-300 hover:bg-neutral-200
      focus:ring-neutral-300 focus:ring-opacity-50 
      active:bg-neutral-400 text-neutral-800 hover:-translate-y-1;
  }
  .btn-live {
      @apply bg-red-100 hover:bg-red-400
      focus:ring-red-500 focus:ring-opacity-50 
      active:bg-red-700 text-red-600 shadow-lg hover:-translate-y-1 border-2 border-red-500 bg-opacity-90 hover:bg-opacity-30;
  }

  .social-btn {
      @apply w-full text-neutral-400 hover:text-neutral-200 hover:-translate-y-1 transform transition active:text-neutral-500 duration-500 ease-in-out
  }

  .tech-labels {
      @apply mr-4 mb-4 px-6 py-2 opacity-90 text-white rounded-md tracking-wide shadow-md shadow-neutral-900 text-lg
  }

  .image-style {
      @apply mb-4 lg:h-96 lg:w-max shadow-lg shadow-neutral-900 rounded-md
  }
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
